@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
:root{
    --color1: #020c17;
    --color2: #efefef;
    --color3: #ccc;
    --color4: #aaa;
    --color5: #999;
    --color6: #333;
    --color7: #fff;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-image: url(bg.jpg);
}

.mobile{
    position: relative;
    width: 270px;
    height: 480px;
    background: var(--color1);
}

.top{
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    background: var(--color2);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.top:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background: var(--color3);
    border: 2px solid var(--color4);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--color5);
}

.top:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 3px;
    background: var(--color6);
    border: 2px solid var(--color4);
    border-radius: 3px;
}

.bottom{
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 50px;
    background: var(--color2);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.bottom:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border: 2px solid var(--color5);
    cursor: pointer;
    border-radius: 6px;
}

.screen{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: center; * //*if we delete this line, the letters of date will go up*/
}

.screen img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
}

.screen.active img{
    opacity: 1;
}

/* in the next, left define the brightness direction*/
.screen:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    transform: skewX(-5deg);
}

h2{
    color: var(--color7);
    font-weight: 200;
    font-size: 3.5em;
    z-index: 1;
    transform: translateY(50px);
    line-height: 0.4em;
    transition: 0.5s;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    opacity: 0;
}

h2 span{
    font-size: 0.4em;
}

.screen.active h2{
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.5s;
}

.screen ul{
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    width: 100%;
}

.screen ul li{
    list-style: none;
    color: var(--color7);
    font-size: 1.5em;
    padding-bottom: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.screen.active ul li{
    opacity: 1;
    transition-delay: 0.5s;
    transform: translateY(20px);
}

.screen.active ul li:nth-child(2){
    transition-delay: .7s;
}

.screen.active ul li:nth-child(3){
    transition-delay: .9s;
}

.screen.active ul li:nth-child(4){
    transition-delay: 1.1s;
}

.screen.active ul li .fa{
    transition: 0.5s;
}

.screen.active ul li:hover .fa{
    transition: 0.5s;
    transform: translateY(-10px);
}